# --- BANCO DE DADOS E CACHE ---
DATABASE_URL=postgresql://acbr_user:acbr_password@db:5432/acbr_nfe
REDIS_URL=redis://redis:6379/0

# --- JWT AUTENTICAÇÃO ---
JWT_SECRET_KEY=cole_aqui_uma_chave_secreta_aleatoria_longa
JWT_ALGORITHM=HS256
JWT_EXPIRATION_MINUTES=1440

# --- ARMAZENAMENTO S3 / B2 ---
B2_ENDPOINT_URL=https://s3.us-east-005.backblazeb2.com
B2_ACCESS_KEY_ID=sua_key
B2_SECRET_ACCESS_KEY=seu_secret
B2_BUCKET_NAME=nfe-bucket
B2_PUBLIC_CDN_URL=https://files.kaisoft.com.br

# --- CONFIGS GERAIS ---
ACBR_LIB_PATH=/app/acbr_linux/libacbrnfe64.so
FRONTEND_URL=http://localhost:3000
ACBR_PASS_KEY=354#$_KAISOFT_$453
CORS_ORIGINS=http://localhost:3000,https://kaisoft.com.br

# --- SMTP CONFIGS ---
SMTP_HOST=smtp.mailtrap.io
SMTP_PORT=2525
SMTP_USER=seu_user
SMTP_PASSWORD=sua_senha
SMTP_FROM_EMAIL=no-reply@kaisoft.com.br
